html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background: #ffffff;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 24px;
  color: #7a3e9d;
}